<!DOCTYPE html>
<html>
<head>
  <title>ICICC | International Conference on Innovative Computing and Communication</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/396999c087.js"></script>
  <script type="text/javascript" src="slick/slick.min.js"></script>
  <link rel="shortcut icon" href="/gallery/gurunanak.png">

</head>
<body>
  <div class="container-fluid">


    <div class="non-sticky-header">

      <div class="logo-header">
        <img src="/gallery/gurunanak.png" alt="logo">
      </div>

      <div class="title-for-header custom-font">

        <h2> INTERNATIONAL CONFERENCE ON INNOVATIVE COMPUTING AND COMMUNICATION <br /> (ICICC-2019) </h2>
        <h5>ORGANISED BY : TECHNICAL UNIVERSITY OF OSTRAVA <br />21-22nd MARCH,2019</h5>


      </div>
      <div class="logo-header">

        <img src="/gallery/Springer.png" alt="logo" >

      </div>


    </div>

    <div class="sticky-header-main-all">

      <nav class="navbar">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">About
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/about_institute">About Institute</a></li>
                  <!-- <li><a href="/about_irdindia">About IRB India</a></li> -->
                  <li><a href="/about_universal_innovators">About Universal Innovators</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Papers
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/call_for_papers">Call For Papers</a></li>
                    <li><a href="/paper_submission">Paper Submission</a></li>
                    <li><a href="/call_for_special_sessions">Call For Special Session</a></li>
                  </ul>
                </li>
                <li><a href="/new_special_session">Special Sessions</a></li>
                <li><a href="/registration">Registrations</a></li>
                <li><a href="/sponsorship">Sponsorship</a></li>
                <li><a href="/publication">Publications</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Committee
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/steeringcommittee">Steering Committee</a></li>
                      <li><a href="/technicalprogramcommittee">Technical Program Committee</a></li>
                      <li><a href="/advisorycommittee">Advisory Committee</a></li>
                    </ul>
                  </li>
                  <!-- <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Conference Venue
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  <li><a href="#">Page 1-1</a></li>
                  <li><a href="#">Page 1-2</a></li>
                </ul>
              </li> -->
              <li><a href="/conference_venue"> Conference Venue</a></li>
              <li><a href="/downloads_page">Downloads</a></li>
              <li><a href="/symposium">Symposium <sup> <b>NEW</b> </sup></a></li>


            </ul>
          </div>
        </nav>






      </div>


      <nav class="navbar responsive-navbar">
          <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">About
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/about_institute">About Institute</a></li>
                    <!-- <li><a href="/about_irdindia">About IRB India</a></li> -->
                    <li><a href="/about_universal_innovators">About Universal Innovators</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Papers
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/call_for_papers">Call For Papers</a></li>
                      <li><a href="/paper_submission">Paper Submission</a></li>
                      <li><a href="/special_session">Special Session</a></li>
                    </ul>
                  </li>
                  <li><a href="/new_special_session">Special Sessions</a></li>
                  <li><a href="/registration">Registrations</a></li>
                  <li><a href="/sponsorship">Sponsorship</a></li>
                  <li><a href="/publication">Publications</a></li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Committee
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/steeringcommittee">Steering Committee</a></li>
                        <li><a href="/technicalprogramcommittee">Technical Program Committee</a></li>
                        <li><a href="/advisorycommittee">Advisory Committee</a></li>
                      </ul>
                    </li>
                    <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Conference Venue
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <li><a href="#">Page 1-1</a></li>
                    <li><a href="#">Page 1-2</a></li>
                  </ul>
                </li> -->
                <li><a href="/conference_venue"> Conference Venue</a></li>
                <li><a href="/downloads_page">Downloads</a></li>
                <li><a href="/symposium">Symposium <sup> <b>NEW</b> </sup></a></li>



              </ul>
          </div>
          </div>
      </nav>
      <%= yield %>

      <!-- footer -->
    <br><br> <br>
      <div class="row" id="footer">
        <div class="col-xs-12 col-md-12 pull-left">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
              <h3>CONTACT DETAILS</h3>
              <span class="fa fa-envelope">&nbsp;</span>icicc.conf@gmail.com<br>
              <br>


              <h3>SOCIAL MEDIA</h3>
              <a href="https://m.facebook.com/icicc2018/" class="fa fa-facebook"></a>
              <a href="mailto:icicc.conf@gmail.com" class="fa fa-envelope"></a>
              <a href="https://www.linkedin.com/in/icicc-conf-31a3b6151" class="fa fa-linkedin"></a>

            </div>
            <div class="col-xs-12 col-sm-12 col-lg-6 footer-links">
              <h3>Quick Links</h3>
              <ul>
                <li><a href="/call_for_papers">Call For Papers</a></li>
                <li><a href="/important_dates">Important Dates</a></li>
                <li><a href="/conference_venue">Conference Venue</a></li>
                <li><a href="/downloads_page">Downloads</a></li>
                <li><a href="https://easychair.org/conferences/?conf=icicc20190">Easy Chair Submission Portal</a></li>

              </ul>
            </div>


          </div>
        </div>
      </div>

      <div class="row" id="copyright">
        <hr>
        <p>Copyright © International Conference on Innovative Computing and Communication | All Rights Reserved | Site By Harshit Singhal , Pranav Singhal and Sanket Singh</p>
      </div>

      <!--
      footer ends -->






    </div>
  </body>
  </html>
