#footer , #copyright {
  background-color: #3a66b8;
  color: #fff;
  text-align: center;
}

#footer  a{
  color: #fff;

}


#copyright p{
  color: #fff;
  text-align: center;

}


#footer .fa{
  font-size: 1.5em;
  margin-right: 5px;
}
