div.main_header{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
}










header{
  a{
    color: black !important;
  }
  div.row{
    margin: 0;
    h3{
      margin:0;
    }
  }
  text-align: center;
  position: sticky;
  top: -150px;
  height: 160px;
  padding-top:0px;
  text-transform: uppercase;
  z-index: 100;
  background-color: #535557;

  h3{
    color: black;
    margin-top: 0px;
    font-size: 2vw;
    font-weight:100;


  }
  h6{
    // text-align: center;

  }


    nav{

        background-color: #a1a4a7;
        position: relative;
        bottom: -16px;
        height:40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.4vw;

        a{
          height: 40px;
          color: black;

        }

    }

  ul{
    a{
      height: 60px;
    }
    li{
      color: black;
      height: 80px;
    }
  }

}
section.paper_submission{
  margin-top: 140px;
  color:black;
  h1{
    color:black;
    text-align: center;
  }
  div.card-panel{
    a{
      color: black;
    }
    i.fa-download{
      color:black;
    }

    h4{
      text-align: center;
    }
    ul{
      li{
        list-style: decimal;
      }
      list-style: circle;
      li#heading_li{
        font-weight: bold;

      }

    }
  }

}
div.carousel-slider{
  margin-top: 2px;
  // padding-top: 100px;
// background-size: 100%;
height: 500px;
}
footer{

  div#social{
    text-align: center;
  }
  div{
    li{
      text-align: center;
    }
  }
  a.fa{
    font-size: 30px;
    padding-right: 5px;
    color: black;
  }
  h5{
    text-align: center;
  }
}
section.conference_venue{
  h1{
    text-align: center;
  }

}
div.card-panel{
  background-color: white !important;
}

section.special_submission,section.downloads_page{
margin-top: 140px;
}
section.contact_us{
  button{
    background-color: #74b5eb;

  }
  div.card-panel{
    background-color: #ffffff;
  }
}
button{
  background-color: #74b5eb;

}
section.technicalprogramcommittee, section.special_session,section.steeringcommittee, section.paper_submission, section.call_for_papers, section.registration, section.special_submission,section.downloads_page, section.publication, section.advisorycommittee, section.sponsorship, section.about_institute,section.about_irdindia,section.about_universal_innovators{
  text-align: justify;
  button,a.btn,div.btn{
    background-color: #f6f7f9;
    color: black;

  }

  div.l4{
    div.card-panel{
      height: 300px;
      marquee{
        height: 200px;
      }
    }
  }
  div.card-panel{
    background-color: #74b5eb;
  }
  div.l4{
    span.white-text{
      color: black !important;
      b{
        text-transform: capitalize;
      }
    }
  }

}

section.special_session,section.downloads_page{
  margin-top: 140px;
  margin-bottom: 140px;
  a{
    color: black;}
}
section.contact_us{
  text-align: justify;

  margin-top: 140px;
  form{
    margin-bottom: 200px;

  }
}
section.steeringcommittee{
  text-align: justify;

  h5{
    // font-size: 3em;
    font-weight: 400;
  }
  color: white;
  b.position{
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;

  }
  b.name{

    margin-left: 20px;

  }
}
section.sponsorship{
  text-align: justify;

  color: black;
  div.card{
    background-color: #74b5eb;
  }
  div.card-panel{
    h5{
      text-align: center;
    }
  }
  div.card-image{
    img{
      width:240px;
      height: 180px;
    }
  }
}
section.important_dates{
  text-align: justify;

  div.card-panel{
    background-color: #74b5eb;
  }
  span.white-text{
    color: black !important;
      b{
        font-size: 22px;
      }
    span{
      font-size: 18px;
      font-weight: 600;
      text-transform: capitalize;
    }
  }
}
footer.page-footer{
  // background-color: #a1a4a7;
  div.footer-copyright{
    padding:0;
  }
  padding-top: 0;
  div.row{
    font-size: 1vw;
    p{
      margin-bottom: 0;
    }

  }
}




section.important_dates{
  margin-top: 140px;
}



section.about_institute{
margin-top: 140px;
}
section.about_irdindia{
margin-top: 140px;
}
section.about_universal_innovators{
margin-top: 140px;
}
section.advisorycommittee{
margin-top: 140px;
}
section.call_for_papers{
margin-top: 140px;
}
section.conference_venue{
  margin-top: 140px;
}
section.publication{
margin-top: 140px;
color: black !important;
}
section.registration{
margin-top: 140px;
}
section.sponsorship{
  margin-top: 140px;

}
section.steeringcommittee{
  color: black !important;
margin-top: 140px;
}
section.technicalprogramcommittee{
margin-top: 140px;
}
