
header{
  text-align: center;
  position: sticky;
  top: -260px;
  height: 300px;
  padding-top: 26px;
  text-transform: uppercase;
  z-index: 100;
  background-color: #3498db;

  h3{
    color: white;
    margin-top: 0px;
    font-size: 30px;
    font-weight:100;

    // line-height: 230px;
  }
  h6{
    text-align: center;
    width: 40%;
    margin: auto;
  }
  div.nav-wrapper{
    position: relative;
    bottom: -150px;

    nav{

        position: relative;
        bottom: 126px;
        height:40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.2vw;

        a{
          // height: 40px;
          vertical-align:middle;

          // padding-bottom: 10px;
        }

    }
  }

}
section.paper_submission{
  h1{
    color:teal;
    text-align: center;
  }
  div.card-panel{
    a{
      color: black;
    }
    i.fa-download{
      color:black;
    }

    h4{
      text-align: center;
    }
    ul{
      li#heading_li{
        font-weight: bold;

      }

    }
  }

}
footer{
  div#social{
    text-align: center;
  }
  div{
    li{
      text-align: center;
    }
  }
  a.fa{
    font-size: 30px;
    padding-right: 5px;
    color: white;
  }
  h5{
    text-align: center;
  }
}
section.conference_venue{
  h1{
    text-align: center;
  }

}

section.technicalprogramcommittee, section.steeringcommittee, section.paper_submission, section.call_for_papers, section.registration, section.special_submission, section.publication, section.advisorycommittee, section.sponsorship{
  div.l4{
    span.white-text{
      b{
        text-transform: capitalize;
      }
    }
  }

}
section.steeringcommittee{
  h5{
    font-size: 3em;
  }
  color: white;
  b.position{
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;

  }
  b.name{

    margin-left: 20px;

  }
}
section.sponsorship{
  div.card-image{
    img{
      width:240px;
      height: 180px;
    }
  }
}
section.important_dates{
  span.white-text{
      b{
        font-size: 22px;
      }
    span{
      font-size: 18px;
      font-weight: 600;
      text-transform: capitalize;
    }
  }
}


@media (max-width: 740px) {
  header{
    position: sticky;
    top:0px;
    background-color: black;
  }
}
