    <div class="col-md-12 left">
      <h1>Key Note Speakers</h1>
    </div>
    <div class="col-md-12 right">


      <div class="slick-keynote">
        <% @keynotespeaker.each do |keynotespeaker| %>
        <div class="outer_div_slick">
          <div class="images-key-note">  <img src="<%="/keynotespeaker/" + keynotespeaker.image%>" ></div>
          <div class="link-key-note"> <a href="<%= keynotespeaker.url %>"><%= keynotespeaker.caption %></a></div>
        </div>
        <% end %>



      </div>




      <script type="text/javascript">
      $(document).ready(function(){
        $('.slick-keynote').slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 2500
        });
      });
      </script>

    </div>