    <div class=" col-md-12 left ">
      <h1>Our Sponsors</h1>
    </div>

    <div class=" col-md-12 right ">


      <div class="slick-publishing">


        
        <div class="outer_div_slick">
          <div class="images-key-note"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/JetBrains_Logo_2016.svg/1200px-JetBrains_Logo_2016.svg.png" style="max-width : 100%" alt="axure"></div>
          <div> <h6>Jet Brains</h6></div>
        </div>

        <div class="outer_div_slick">
          <div class="images-key-note"><img src="https://i.pinimg.com/originals/ea/77/90/ea77903dab9e84131b286ca67f26cf34.png" style="max-width : 100%"></div>
          <div> <h6>Axure</h6></div>
        </div>

        <div class="outer_div_slick">
          <div class="images-key-note"><img src="https://www.scupo.in/wp-content/uploads/2019/05/scupoBoxLogo.png" style="max-width : 100%"></div>
          <div> <h6>Scupo</h6></div>
        </div>
       

      </div>


      <script type="text/javascript">
      $(document).ready(function(){
        $('.slick-publishing').slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 2500
        });
      });
      </script>
    </div>
