    <div class=" col-md-12 left ">
      <h1>Our Sponsors</h1>
    </div>

    <div class=" col-md-12 right ">


      <div class="slick-publishing">


        
        <div class="outer_div_slick">
          <div class="images-key-note"><img src="/assets/jetbrains.jpeg" style="max-width : 100%" alt="axure"></div>
          <div> <h6>Jet Brains</h6></div>
        </div>

        <div class="outer_div_slick">
          <div class="images-key-note"><img src="/assets/axure.png" style="max-width : 100%"></div>
          <div> <h6>Axure</h6></div>
        </div>

        <div class="outer_div_slick">
          <div class="images-key-note"><img src="/assets/scupo.jpeg" style="max-width : 100%"></div>
          <div> <h6>Scupo</h6></div>
        </div>
       

      </div>


      <script type="text/javascript">
      $(document).ready(function(){
        $('.slick-publishing').slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 2500
        });
      });
      </script>
    </div>
