<div class="col-md-12 left">
  <h1>Proceeding Partners</h1>
</div>
<div class="col-md-12 right">


  <div class="slick-proceedingprtner">
    <% @proceeding_partners.each do |prd| %>
    <div class="outer_div_slick">
      <div class="images-key-note">  <img src="<%="/ProceedingPartner/" + prd.image%>" ></div>
      <div class="link-key-note"><%= prd.caption %></a></div>
    </div>
    <% end %>



  </div>




  <script type="text/javascript">
  $(document).ready(function(){
    $('.slick-proceedingprtner').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2500
    });
  });
  </script>

</div>