<style type="text/css">

#custom{
  max-height: 450px;
  max-width: 230px;
  margin-left: 2px;
}
img{

}

</style>
<div class="col m4 s12 l2">

          <img src="<%="/sponsors/" + sponsor.image%>" class="responsive-img activator" style="height: 100px;">
      

</div>
