
<section class="sub-page" id="about_institute">
  <div class="row">
    <div class="col-md-8">
      <div class="left">
        <h1>About Panipat Institute of Engineering and Technology</h1>
        <hr>
        <p class="text-justify">
            
        Panipat Institute of Engineering and Technology (PIET) was established by the Vidhya Peeth Education trust in the year 2006. It was the time when state and NCR was striving of producing World Class technocrats and Managers. PIET was Self Financed Initiative by a Private Management which always had an eye on quality of technical education.
        <br>
        The great philosophy of PIET management has created an edifice that is strengthening its foundation, which can only rise higher and higher. Quality and Integrity is the essence for achieving Excellence at PIET. Members of Executive Academic Advisory Board being eminent personalities and philanthropists which have been successful in their endeavors set out with a common desire to design to serve the community through value based education.
        <br>
        When we look at some option of best engineering Institute in National Capital Region, PIET stands out of a clear leader. A Multidisciplinary institute affiliated to kurukshetra university, Kurukshetra approved by AICTE, New Delhi provides Undergraduate programs in Engineering and Management. PIET has consistently pushed the war of excellence to garner riche for itself among the Ten Engineering institute in Delhi/NCR in the field of Engineering Education.
        <br>
        It has focus on its goal of producing Entrepreneurs, world class Manager and technocrats employable throughout the globe. The institute has one of the largest student populations among engineering colleges of NCR. PIET is the most preferred destination for the students from across the country which could be attributed to the quality of education, infrastructure, healthy teaching Learning practices as well as producing industry ready students.
        <br>
        PIET is a family of aspiring students supportive parents, committed faculty and visionary Management who all are working together to make a difference in education field.
        </p>
      </div>

    </div>
    <div class="col-md-4">
      <div class="box left">
          <h1 class="custom-font">Important Dates</h1>
          <hr>

          <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
              <% @important_dates.each do |impdate| %>
                  <b><%= impdate.title %></b>
                  <br>
                  <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
                  <br><hr />

              <% end %>


            </marquee>
            <span> <a href="/important_dates">Read More...</a> </span>

      </div>
    </div>
  </div>
</section>
