
<section class="sub-page" id="about_institute">
  <div class="row">
    <div class="col-md-8">
      <div class="left">
        <h1>About Institute</h1>
        <hr>
        <p>
          <!-- <%=@about_institute%> -->
          The Technical University of Ostrava is a university located in the city of Ostrava, Moravian-
          Silesian Region, Czech Republic. The institution was founded on 23 January 1849 as the
          Mining Academy in Příbram. In 1894 it was promoted to university status and in 1904 it was
renamed to Vysoká škola báňská. In 1945 it was moved to Ostrava, then the centre
of Czechoslovak mining industry.<br>
Today the university has a total of about 20,000 students and consists of the following
seven faculties:<br>
<ul>
<li> Faculty of Economics (Czech: Ekonomická fakulta – EkF) </li>
   <li>Faculty of Civil Engineering (Czech: Fakulta stavební – FAST)</li>
   <li>Faculty of Mechanical Engineering (Czech: Fakulta strojní – FS)</li>
   <li>Faculty of Electrical Engineering and Computer Science (Czech: Fakulta elektrotechniky a informatiky – FEI)</li>
  <li> Faculty of Mining and Geology (Czech: Hornicko-geologická fakulta – HGF)</li>
   <li>Faculty of Metallurgy and Material Engineering (Czech: Fakulta metalurgie a
  <li>materiálového inženýrství – FMMI)</li>
   <li>Faculty of Safety Engineering (Czech: Fakulta bezpečnostního inženýrství – FBI)</li>

</ul>
        </p>
      </div>

    </div>
    <div class="col-md-4">
      <div class="box left">
          <h1 class="custom-font">Important Dates</h1>
          <hr>

            <marquee behavior="" direction="up">
              <% @important_dates.each do |impdate| %>
                  <b><%= impdate.title %></b>
                  <br>
                  <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
                  <br><hr />

              <% end %>


            </marquee>
            <span> <a href="/important_dates">Read More...</a> </span>

      </div>
    </div>
  </div>
</section>
