
<section class="sub-page" id="about_institute">
  <div class="row">
    <div class="col-md-8">
      <div class="left">
        <h1>About B.M. Institute of Engineering and Technology:</h1>
        <hr>
        <p class="text-justify">
            BMIET is one of the the best engineering colleges in Haryana and Delhi NCR and
            was established in 1999 by Bhagwan Mahaveer Education Trust with the
            objective of creating a center of excellence in the field of technical education at
            Sonepat and provide conductive environment for studies based on the teachings
            of Lord Mahaveer. The institute is committed to :- <br>
            <li><b>Non-violence -</b> not to cause harm to any living beings.</li>
            <li><b>Truthfulness -</b> to speak the harmless truth only. </li>
            <li><b>Non Stealing -</b> not to take anything not properly given. </li>
            <br>
            <p>
            It is approved by AICTE to conduct four year degree courses in Computer Science
            and Engineering, Information Technology, Electronics and Communication
            Engineering. Approval to start degree course in  Electrical and  Electronics
            Engineering was obtained in the year 2007 whereas two years P.G. courses in
            M.B.A. commenced from the session 2008-09.The Institute has started BBA/BCA
            Courses w.e.f. academic session 2011-12.The Institute has started B.Tech in Civil
            Engineering and Mechanical Engineering and M-Tech. in Computer Science &amp;
            Engg. w.e.f. academic session 2013-14.The institute is Affiliated to IP University
            (GGSIPU), Delhi w.e.f. session 2016.
            <br>
            To give right direction and impetus to the institute, the management invited an
            eminent engineer and educationist Dr. R. P. Jain to be the founder Director of the
            Institute. It was conscience decision of the management to induct persons with
            experience, both in the field of education and industry to give right orientation to
            the teaching based on the requirements of the industry while adhering to the
            prescribed university syllabus. The senior faculty is assisted by fully qualified
            teachers with good academic record.Since its inception, the institute has
            established excellent facilities required by such an institute. It has a sprawling
            11.15 acre campus in the outskirts of Sonepat town, in the scenic rural setting
            and is well connected to rail and national highway no.1, with boys and girls
            hostels, and staff residences, and esthetically created landscape, playgrounds,
            and services.
            <br>
            The institute has state of the art laboratories, computer centers, library with
            excellent collection of books, international and national journals, and reading
            room, canteen and bank counter. The hostels are fully furnished with proper
            messing facilities and security and have resident wardens.Pure vegetarian food
            is provided to all the residents.For all round development of the students and to
            give them opportunity of self expression, the institute organizes sports meets
            and cultural programmes in the campus and encourages students to take part in

            the events at inter-institute level. The institute take pride in creating atmosphere
            conducive to students taking their studies seriously which is reflected in low
            absenteeism and high grades in university examinations. To broaden their
            horizons in the professional field, institute organizes guest lectures and visits to
            industries and trade fair, etc. The institute has a training and placement cell to
            facilitate and counsel the students to find training and placements slots and
            avenues for further education.
            <br>
            The student’s discipline is maintained through student welfare and guidance and
            not through regimentation.
            The institute has installed standard norms and procedures for consistent and
            sustained high quality in academics and administration.
            </p>
        </p>
      </div>

    </div>
    <div class="col-md-4">
      <div class="box left">
          <h1 class="custom-font">Important Dates</h1>
          <hr>

          <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
              <% @important_dates.each do |impdate| %>
                  <b><%= impdate.title %></b>
                  <br>
                  <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
                  <br><hr />

              <% end %>


            </marquee>
            <span> <a href="/important_dates">Read More...</a> </span>

      </div>
    </div>
  </div>
</section>
