<!DOCTYPE html>
<html>
<head>
	<title>Awards</title>
</head>
<body>

	<div class="row" style="margin: 15px;" >
		<div class="col-md-12">
<h3><strong>ABOUT Universal Inovators &ndash; leadership AWARDS</strong><hr></h3>
<h4><strong><span>About Universal Innovators</span></strong></h4>
<p><span>Every success story begins with a vision. The Universal Innovators (UI) is a private and autonomous body promoting research based activities all over the world. The UI aims to do non-profit collaborative research in the field of engineering, applied sciences and management. We aim to be the leading independent academic and professional body working in collaboration with academicians, faculties, students, researchers and educational institutes. This leads us to be playing a creative and critical role in the society by disseminating teaching and research on a global scale, the cornerstones of which are good, long-term relationships, a focus on real life applications necessary for the welfare of the mankind, and an ability to combine quality and innovation. The mission of Universal Innovators is to cultivate and carry out research in high-tech methodologies. We deal in conducting FDP&rsquo;s, workshops, seminars, and conferences. As a recognized body, Universal Innovators (UI) seeks to facilitate the availability of academic excellence and disseminate innovative knowledge worldwide.</span></p>
<p ><span>&nbsp;</span></p>
<h4><strong><span>About ICICC</span></strong></h4>
<p><span>ICICC is a non-profit organization under the umbrella of Universal Innovator. It has successfully conducted numerous technical conferences, FDPs and workshops. It has also been parts of Nasa hackthons and has members who have successfully organized and prepared teams for AICTE&rsquo;s Smart India Hackathons.</span><span >It has support of many reputed international and national organizations. ICICC enjoys support of many top private companies, research labs, government agencies, Private and Government Banks, funding agencies, publishing houses and many more other organizations.</span></p>

<br>
<p ><span >We have already organized two successful versions of Springer based conference "International Conference on Innovative Computing and Communications (ICICC)". First version of the conference was held at GNIM (GGSIPU) in May 2018 and the second version of the conference was held at VSB Technical University of Ostrava, Czech Republic, Europe in March 2019. Both the conferences organized were a huge success and have created a mark in the world of research.</span><span>&nbsp;</span><span >The details for the two versions of the conference are attached with the mail.</span><span >&nbsp;</span></p>
<p ><span >&nbsp;</span></p>
<p ><span >Some of the details of both the conferences are as follows:</span><span>&nbsp;</span></p>
<ul style="list-style: disc;">
<li><span >First International Conference on Innovative Computing and Communications (ICICC-2018) has been organized at Guru Nanak Institute of Management, New Delhi, India on 5-6th May 2018. We received 468 papers and accepted 92 papers with an acceptance ratio of 19%. All accepted papers has already been published by Springer in its reputed Scopus indexed Lecture Notes on Networks and Systems (LNNS). We received papers from 20 countries and got lot of recommendations from the science community for the organization and the quality of papers.</span><span>&nbsp;</span> <span >&nbsp;</span></li>
<li ><span>Second version of International Conference on Innovative Computing and Communications (ICICC-2019) has been organized at VSB-Technical University of Ostrava, Czech Republic on 21-22nd March 2019 with a pre-conference symposium at New Delhi, India on 16th March 2019. We received around 552 papers and accepted 125 papers with an acceptance ratio of 22%. All accepted papers will be published by Springer in its reputed scopus indexed AISC. We received papers from 25 countries</span><span >&nbsp;</span></li>
</ul>

<p ><strong><span >About Universal Inovators &ndash; Leadership Awards</span></strong></p>
<p ><span >This time we have planned to have 1</span><span><sup>st</sup></span><span > Leadership awards along with 3</span><span ><sup>rd</sup></span><span > International Conference on Innovative Computing and Communication organized jointly by Shaheed Sukhdev College of Business Studies (University of Delhi), National Institute of Technology Patna and Universal Inovators at Shaheed Sukhdev College of Business Studies, New Delhi, India.</span></p>
<p><span >Leadership awards will honor the awards in the following categories:</span></p>
<ul style="list-style: disc;">
<li><strong><span  >&ldquo;Life time achievement Award&rdquo;</span></strong><span  > to honor outstanding leaders in education who have dedicated their life to the enhancement of the Institution/Organization and advancing the field of education with their pioneering spirit,</span><span  >&nbsp;</span><span  >demonstrated</span><span  >&nbsp;</span><span  >innovation, advocacy and career achievements that have improved the education industry. The Lifetime Achievement Award would be presented to an individual member whose long-term efforts, dedication, and sustained commitment has supported the organization.</span></li>
<li ><strong><span  >&ldquo;Young Researcher Award&rdquo;</span></strong><span  > to the research scholars, academicians and professionals from industries for their research work published in any International Journals or Conferences, having age not more than 35.</span></li>
<li><strong><span  >&ldquo;Best Teacher Award&rdquo;</span></strong><span  > for teaching professionals for excellence in teaching.</span></li>
<li><strong><span  >&ldquo;Best Researcher Award&rdquo;</span></strong><span  > to the research scholars, academicians and professionals from industries for their research work published in any International Journals or Conferences.</span></li>
<li><strong><span  >&ldquo;Best Research Paper Award&rdquo;</span></strong><span  > for writing the excellent paper published in reputed journal like Nature.</span></li>
<li><strong><span  >&ldquo;Best PG Thesis Award&rdquo;</span></strong><span  > award to the PG students for their thesis.</span></li>
<li><strong><span  >&ldquo;Best Research Thesis Award&rdquo;</span></strong><span  > award to the Ph.D. students for their thesis.</span></li>
<li><strong><span  >&ldquo;Best Research Project Award&rdquo;</span></strong><span  > award to the UG/PG/PhD students for project. </span></li>
<li><strong><span  >&ldquo;Best Head of Department Award&rdquo;</span></strong><span  > for the HOD's of various Academic Departments of Educational Institutes for their excellence in leadership and management.</span></li>
<li><strong><span  >&ldquo;Best Principal Award&rdquo;</span></strong><span  > Award for the Principals of the Higher Educational Institutes.</span></li>
<li><strong><span  >&ldquo;Best Director Award&rdquo;</span></strong><span  > Award for the Directors of the Higher Educational Institutes</span></li>
<li><strong><span  >&ldquo;Highly Cited Paper Award&rdquo;</span></strong><span  > for the paper which is cited highly on Google scholar.</span></li>
</ul>
<p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 9pt;"><br /><span style="font-family: Times; font-size: 10pt;">&nbsp;</span></p>
</div>
</div>
</body>
</html>