<!DOCTYPE html>
<html>
<head>
	<title>Awards</title>
</head>
<body>

<div class="row" style="margin: 15px;" >
<div class="col-md-12">
	<h3><strong>ABOUT Universal Inovators &ndash; LEADERSHIP  AWARDS</strong><hr></h3>
	<h4><strong><span>About Universal Inovators (UI) – Leadership Awards</span></strong></h4>
	<p>UI Leadership Awards is to honor the determined effort and achievements of Change makers who have made their performance and innovative excellence in their respective field. It is a very special and unique set up, it involves <b>International Excellence awards</b> in various categories. UI Leadership award creates a world-wide recognition and reserves the own space in the Society for the winning profiles. As such it also provides participants with an ideal opportunity to make their work visible to a wider audience. </p>

	<p>1st UI Leadership awards will be organized along with 3rd International Conference on Innovative Computing and Communication organized jointly by Shaheed Sukhdev College of Business Studies (University of Delhi), National Institute of Technology Patna and Universal Inovators at Shaheed Sukhdev College of Business Studies, New Delhi, India.</p>

	<p><b>NOMINATION FEES 3000 INR or 100 $</b><br />
	If not selected the fees will be refunded (after deduction of 20% processing charges) with in 30 working days from the date of announcement of Results. <br />
	<br />
	<b>Last date for nomination December 31st, 2019.</b> <br />
	<br />
	Leadership awards will honor the awards in the following categories:<br />
	• <b>“Life time achievement Award”</b> to honor outstanding leaders in education who have dedicated their life to the enhancement of the Institution/Organization and advancing the field of education with their pioneering spirit, demonstrated innovation, advocacy and career achievements that have improved the education industry. The Lifetime Achievement Award would be presented to an individual member whose long-term efforts, dedication, and sustained commitment has supported the organization/ Society/ Research/ Mankind.<br />
	• <b>“Young Researcher Award”</b> to the research scholars, academicians and professionals from industries for their research work published in any International Journals or Conferences, having age not more than 35.<br />
	• <b>“Best Teacher Award”</b> for teaching professionals for excellence in teaching.<br />
	• <b>“Best Researcher Award”</b> to the research scholars, academicians and professionals from industries for their research work published in any International Journals or Conferences.<br />
	• <b>“Best Research Paper Award”</b> for writing the excellent paper published in reputed journal like Nature.<br />
	• <b>“Best PG Thesis Award”</b> award to the PG students for their thesis.<br />
	• <b>“Best Research Thesis Award”</b> award to the Ph.D. students for their thesis.<br />
	• <b>“Best Research Project Award”</b> award to the UG/PG/PhD students for project. <br />
	• <b>“Best Head of Department Award”</b> for the HOD's of various Academic Departments of Educational Institutes for their excellence in leadership and management.<br />
	• <b>“Best Dean of Department Award”</b> for the Dean's of various Academic Departments of Educational Institutes for their excellence in leadership and management.<br />
	• <b>“Best Principal Award”</b> Award for the Principals of the Higher Educational Institutes.<br />
	• <b>“Best Director Award”</b> Award for the Directors of the Higher Educational Institutes<br />
	• <b>“Highly Cited Paper Award”</b> for the paper which is cited highly on Google scholar.<br />
	• <b>“Best PhD Thesis Award”</b> award to the best PhD thesis.</p>

	<p>
	<h4><strong><span>Process</span></strong></h4>
	Please fill the attached form and send it along with complete CV and payment registration receipt to icicc.conf@gmail (Subject: Award [Category]).<br />
	If applying for best paper or thesis awards, then mail us filled form, CV, paper/thesis, and payment receipt to icicc.conf@gmail (Subject: Award [Category]).<br />
	</br><h4><strong><span>Account Details</span></strong></h4>
	Account Name: ICICC <br />
	Account No: 510909010080523 <br />
	Bank: City Union Bank <br />
	Branch: Sector-8, Rohini, Delhi <br />
	IFSC Code: CIUB0000244 </p>


	<br><br>

	Award Form : <a href="/Award_Form.pdf" download><b>Award Form</b></a>
</div>
</div>
</body>
</html>