<section class="sub-page" id="special_sesion">
  <div class="row">
    <div class="col-md-12">

    <b><u>Invitation to conduct special session in springer conference at VSB- TU of Ostrava</u></b>
    <br><br>
    <b>Dear Sir/ Mam</b>
    <br><br>
    Greeting from ICICC-2019!<br><br>
    ICICC Conference team invites you for the special session in the conference of your research domain. This conference is one of thebestinternational conference attracting very high quality research papers. The conference will be held at Technical University of Ostrava, Czech Republic.<br><br>
    ICICC-2018 was one of the most successful conference in India. Last year we received around 500 papers from 20 different countries. Many Scopus and SCI indexed Journals were associated with the Conference. This time also we will bring more number of High impact factor SCI Indexed Journals and Scopus Journals. ICICC-2018 has invited around 8 keynote (2 from Outside India).
    <br><br>Kindly increase the value of the conference by being part of this conference as a session chair and heading your own session in this esteemed conference. We are aware about your networking skills and of having an eye to identify quality research papers.
    <br><br><b>Highlights of the conference and Special Session Benefits:</b><br>
    1. Proceedings in the AISC (Scopus) Springer series.<br>
    2. You will get 20% of the total fees collected in your session.<br>
    3. You will be provided with the certificate of keynote speaker in your session.<br>
    You can give your keynote in your session.<br>
    4. Extended papers in SCI/Scopus/ESCI/DBLP/ACM Digital Library journals.
We have already got approval from some Scopus and high quality journals.
(Soon will be declared)<br>
    5. High quality publishing houses are part of this conference like Springer,
    Elsevier, Inderscience, IGI Global and many more.<br>
    6. Opportunity to be Session chair at the conference in Ostrava,Czech Republic.<br>
    7. Full support to process visa and very cheap air tickets which will be adjusted
    from the fees collected in your session.<br>
    8. Special discount for your personal paper if above conditions are met. (If minimum number of papers get registered in your session)<br>
    9. Extra weightage and support will be provided for your session extended paper in SCI/ Scopus Journal.<br>
    10.Many international and national key note speakers will be delivering their lectures on latest innovative technologies in the conference.<br>
    11.Easy accessibility of the well-connected conference venue.<br><br>
    For more details, Kindly visit conference website: icicc-conf.com and CFP: https://easychair.org/cfp/icicc2019 <br><br>
    If you are interested to conduct a special session, kindly mail us the special session proposal at icicc.conf@gmail.com latest by 15th OCT 2018 as per the format attached with this mail.<br><br>
    ICICC brings together the innovative research in the field of Computing and Communication to a common platform. The primary goal of the conference is to promote research and developmental activities. Another goal is to promote scientific information interchange between researchers, developers, engineers, students, and practitioners working in and around the world.<br><br>
    <b>All the accepted papers (after double blinded peer review) will be published in a Springer series and further extended accepted papers will be published in the special issues of SCI/SCOPUS/WoS/DBLP/ACM/EI indexed Journals.</b><br><br>
    Looking to see you in Ostrava.<br><br>
    Sincerely,<br><br>
    Organizer and Convener <br><br><b>ICICC-2019</b>
<br><br><hr><br><br>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%@special_session.each do |special_sesion|%>
      <div class="col-md-3 ">
        <div class="card">
          <%=link_to url_for controller: "home", action: "download", filename: special_sesion.file do %>
          <%=special_sesion.file.titleize%> <i class="fa fa-download" aria-hidden="true"></i>
          <%end%>
        </div>

      </div>
      <%end%>
    </div>
  </div>
</section>
