<!DOCTYPE html>
<html>
<head>
	<title>Poster Paper</title>
</head>
<body>
<div class="row" style="margin: 20px;">
	<div class="col-md-12">
	<br><br>
	<h2 style="text-align: center;">Poster Presentation</h2>
	<br><br>
	<p>You are invited to submit your short paper (maximum 6 pages) for poster presentation via email (<a href = "mailto: icicc.poster@gmail.com">icicc.poster@gmail.com</a>). The tracks for poster presentation will be:</p>

	<ul style="list-style: disc;">
		<li>Innovative Computing</li>
		<li>Innovative Communication Networks and Security</li>
		<li>Internet of Things (IoT)</li>
		<li>Social Sciences for Computer Applications</li>
		<li>Innovative Startup ideas </li>
	</ul>
	<br>

	<h4><b>Guidelines to Posters</b></h4>
<ul style="list-style: disc;">
	<li>The official language of the event is English</li>
	<li>Limited number of posters will be selected and the presenters will be informed of the decision.</li>
	<li>Size of poster should be A0 (1189 mm x 841 mm). Three column, Portrait format should be used. 18 font size for text and 24 for title (Or higher) should be used. Times New Roman font should be used. Figures should be large enough to be clearly visible and of high quality.</li>
	<li>Poster’s soft copy should be made available to the organizers by 10th February 2020 (email: icicc.poster@gmail.com). Please put “Poster” in the subject line.</li>
	<li>Printing the poster and putting them up for display will be the responsibility of the presenter/s.</li>
	<li>Poster will be exhibited during the workshop and authors are expected to be there during the poster sessions.</li>
	<li>Printing the poster, bringing them with you and putting them up for display will be the responsibility of the presenters. The posters should be put up on the morning of the day of poster session in between for one day which will be allocated to authors by the organizers (21th to 23rd February 2020).</li>
	<li>You can check the conference website for the schedule and track of your poster.</li>
	<li>Top posters in each track (5 tracks; each having 10-12 posters) will be selected by the technical review committee for Awards in the valedictory session of the conference. Judge’s decision will be final in this regard.</li>
	<li>Each Poster has to be presented in rapid-fire poster presentation where two minutes will be given for the presentation and one minute for question & answer. The final evaluation will be based on the poster presentation and rapid fire round.</li>
	<li>Please complete the registration formalities as soon as possible.</li>
	<li>Poster presentation schedule can be downloaded from the website.</li>
	<li>The best poster papers will be published by the ICC journal (icc-journal.com).</li>
	<li>Authors will have to send the paper in as per format within 20% plagiarism limit.</li>
</ul>

<br>
<h4>
<b>Publication</b></h4>

<p>All the accepted poster papers will be published as in Elsevier SSRN series.</p>
<br>
<h4>
<b>
Important Dates</b></h4>

<p>Deadline For Poster Paper Submission: December 15th, 2019<br>

Notification of Acceptance / Rejection: January 15th, 2020 <br>

Registration deadline: January 31st, 2020 <br>

Conference Date: February 21st, 2020 </p>
<br>

<h4><b>Registration Account Details </b></h4>
<p>Account Name: ICICC <br>
Account No: 510909010080523<br> 
Bank: City Union Bank <br>
Branch: Sector-8, Rohini, Delhi <br>
IFSC Code: CIUB0000244 </p>
<br>

<h4><b>Registration Details</b></h4>

<table class="table">
	<thead>
	<tr>
		<th style="font-weight: bold;">Category</th>
		<th style="font-weight: bold;">Early Registration(Before 31st Jan 2020)</th>
		<th style="font-weight: bold;">Late Registration(After 31st Jan 2020)</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Research Scholar/Student</td>
		<td>INR 2000</td>
		<td>INR 2500</td>
	</tr>
	<tr>
		<td>Academician</td>
		<td>INR 2500</td>
		<td>INR 3000</td>
	</tr>
	<tr>
		<td>Industrial Participants</td>
		<td>INR 3000</td>
		<td>INR 3500</td>
	</tr>
	<tr>
		<td>Foreigner Research Scholar/Student (Outside India)</td>
		<td>USD 70</td>
		<td>USD 100</td>
	</tr>
	<tr>
		<td>Foreigner Academician (Outside India)</td>
		<td>USD 100</td>
		<td>USD 150</td>
	</tr>
	<tr>
		<td>Foreigner Industrial Participant (Outside India)</td>
		<td>USD 150</td>
		<td>USD 200</td>
	</tr>
</tbody>
</table>
</div>

</div>

</body>
</html>