<section class="conference_venue">
  <div class="container">
    <div class="row">
      <div class="col m12 s12 l12">

        <h3>Guru Nanak Institute of Management</h3><hr /><br />
        <div>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <b>Guru Nanak Institute of Management ,
          Road No : 75 West Punjabi Bagh ,
          New Delhi - 110026</b>
          <br />
          <i class="fa fa-envelope" aria-hidden="true"></i><b> icicc.conf@gmail.com</b>
          <br /><br />

        </div>
        <div>
          <img src="/venue.jpg" /><br />
        </div>
        <div>

        </div>

      </div>
    </div>

  </div>
          <div style="width: 100%"><iframe width="100%" height="300" src="https://www.mapsdirections.info/en/custom-google-maps/map.php?width=100%&height=300&hl=ru&q=Guru%20Nanak%20Institute%20of%20Management%2C%20Best%20PGDM%20College%20in%20delhi+(Guru%20Nanak%20Institute%20of%20Management)&ie=UTF8&t=&z=14&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/en/custom-google-maps/">Create a custom Google Map</a> by <a href="https://www.mapsdirections.info/en/">Measure area on map</a></iframe></div>

</section>
