var i ="<i class='material-icons right'>"+ "send"+"</i>";
document.getElementById("contact_us_submit").innerHTML="Send Message"+ i;
<%if @response==true %>
<%session[:response]=false%>

noty({
  text: '',
  type: 'success',
  layout: "top",
  template: '<div><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Thanks for responding!</div><div>We will get back to you as soon as I can</div>',
  animation: {
        open: 'animated bounceInDown',
        close: 'animated bounceOutUp'
    }
}
);


<%end%>
<%if @response=="empty" %>
<%session[:response]=false%>



var subject_field=$('input[name=subject]');
var name_field=$('input[name=name]');
var content_field =$('#textarea1');
var email_field=$('input[name=email]');
if (subject_field.val()==""){
  var subject_field_div = $('#subject_field_div');
  subject_field_div.append('<p style="color: red">subject is required!</p>');
}
if (email_field.val()==""){
  var email_field_div = $('#email_field_div');
  email_field_div.append('<p style="color: red">email is required!</p>');
}
if (content_field.val()==""){
  var content_field_div = $('#content_field_div');
  content_field_div.append('<p style="color: red">content is required!</p>');
}

if(name_field.val()==""){
  var name_field_div = $('#name_field_div');
  name_field_div.append('<p style="color: red; width: auto; font-size: 100%" class="prefix">name is required!</p>');
}





<%end%>
