	<!DOCTYPE html>
	<html>
	<head>
		<title>Doctorate Symposium</title>
	</head>
	<body>

		<dir class="row" style="margin: 15px">
			
			<dir class="col-md-12">
				
				<h1 style="text-align: center;">1st Doctoral Symposium on Computational Intelligence (DoSCI 2020)</h1>
				<br><br>

				<h3>Objectives of the Doctorate Thesis Presentation</h3>
				<p>
				<p>The Doctoral Symposium:</p>

				<p>• To provide a platform for sharing the research ideas on an international level.<br>
				• To provide a platform to meet domain experts to discuss research concepts, methodologies and career issues. <br>
				• To provide a platform for scholars to make informal networks with their peers from other institutes.<br>
				• To discuss the real life benefits of the research work done for human welfare in the light of research done during Ph.D.<br>
				• To apply the research developed during the PhD in other inter-disciplinary areas. <br>
				• Will allow the researchers who have just completed the research work of their PhD<br>
				to explore the new areas coming out of their completed research work by publishing a novel work stating the future of their research work.<br>
				• Will give new light, ideas and dimension to the researchers doing their PhD by presenting their future work. <br>
				• It is an opportunity for the people who have completed their PhD to summarize their research work into a single paper explaining the journey of their research with the most important result works and possible future areas coming out of their research work (Phd++). <br>
				• A panel comprised of high profile national and international researchers will give the author suggestions for the future direction of your research work after the careful examination of your work. </p>




				</p>
				<br>

				<h3>Call for Papers</h3>
				<p>
						We invite submission for the following two tracks.<br>
						<ul style="list-style: disc;">
							<li><b>Track 1:</b> Research Design presentation - Papers are invited from those scholars who are in their initial stages of PhD. Research scholars who have completed their course work and have made progress in research proposal are expected to participate. Participants in this track are not expected to present any estimation results and are requested to follow the following structure for paper submission:
							Introduction, Extensive literature survey, Research gaps, Objectives, Proposed Hypothesis, Proposed Methodology, Expected contribution to the literature.
							</li>
							<li><b>Track 2:</b> Advanced research paper presentation - Track two is for scholars who are in their advanced stages of thesis or have just completed their PhD. Research scholars who have made progress in thesis work and are near to submission/ submitted and waiting for defence are expected to participate. It is also important for the researchers who have just completed their PhD or Post Doc or M tech. to summarize their research work in a single short paper with describing the future direction of your work with new findings or results. Participants are requested to follow the following structure for paper submission: Introduction, Extensive literature review, Research gaps, Objectives, Hypothesis, Methodology, interpretation of results, Conclusion and policy or managerial implications, and future outcomes or areas of their research work.</li>
							
						</ul>




				</p><br>


<h3>Themes</h3>
				<p>
				<ul style="list-style: disc;" >
				<li><strong><span  >Computational Intelligence</span></strong>
					<ul  style="list-style: circle; margin-left: 20px;">
					<li ><span  >Artificial Intelligence</span></li>
					<li><span  >Deep Learning</span></li>
					<li><span  >Evolutionary algorithms</span></li>
					<li><span  >Swarm Intelligence</span></li>
					<li><span  >Fuzzy sets and vague sets</span></li>
					<li><span  >Rough set theoretic approaches</span></li>
					<li><span  >Quantum inspired computational intelligence</span></li>
					<li><span  >Hybrid Computational Intelligence</span></li>
					<li><span  >Machine Learning</span></li>
					<li><span  >Computer Vision</span></li>
					<li><span  >Soft Computing</span></li>
					<li><span  >Distributed Computing</span></li>
					<li><span  >Parallel and Grid Computing</span></li>
					<li><span  >Cloud Computing</span></li>
					<li><span  >High Performance Computing</span></li>
					<li><span  >Biomedical Computing</span></li>
					<li><span  >Decision Support and Decision making</span></li>
					</ul>
				</li>
				</ul>



				</p><br>

<h3>Paper Submission Guidelines</h3>
				<p>
					<ul style="list-style: disc;">
<li>Kindly refer to the following guidelines before submitting your manuscript.</li>
<li><strong>Cover page</strong>:&nbsp;Each paper should include a cover page with title of the paper, abstract (not more than 200 words), author names and affiliations with full postal addresses, email and mobile number.</li>
<li><strong>Structure of the paper&nbsp;</strong><br /> <strong>Doctoral proposal track</strong>:&nbsp;Introduction, followed by literature survey, Research gaps, Objectives, Hypothesis, Methodology, Expected contribution to the literature.&nbsp;<br /> </li>
<p><strong>Doctoral Thesis paper Track</strong>:&nbsp;Introduction, followed by literature review, Research gaps, Objectives, Hypothesis, methodology, interpretation of results, conclusion and policy or managerial implications, and future outcomes or areas of their research work.</p>
<li><strong>Font:</strong>Times New roman, size 12, double space.</li>
<li><strong>Maximum words</strong>:&nbsp;8000 (for Doctoral Thesis paper), 5000(for Doctoral Proposal).</li>
<li><strong>References</strong>:&nbsp;All papers should follow the APA 6th Edition style guide available at:</li>
<li>List the references in alphabetical order at the end of the paper. All references must be single spaced and must be distinguished by hanging indents.</li>
<li>Paper should be sent via mail to <a href="mailto:icicc.conf@gmail.com">icicc.conf@gmail.com</a> (with subject &lsquo;doctorate symposium&rsquo;).</li>
<li><strong>While sending the mail, the authors should clearly mention the track and area (theme)</strong></li>
</ul>



				</p><br>


<h3>Publication</h3>
<p>All the accepted paper will be published as book chapter in Springer’s <b>Studies in Computational Intelligence</b> series [Web of Science, EI-Compendex, DBLP, SCOPUS, Google Scholar and Springerlink] [Approval Pending].</p><br>


<h3>Important Dates</h3>
<p>
	

	Deadline For Poster Paper Submission: December 15th, 2019
<br>
Notification of Acceptance / Rejection: January 15tht, 2020 
<br>
Registration deadline: January 31st, 2020 
<br>
Conference Date: February 21st, 2020 

</p><br>


<h3>Registration Account Details</h3>
<p>
	
Account Name: ICICC <br>
Account No: 510909010080523 <br>
Bank: City Union Bank <br>
Branch: Sector-8, Rohini, Delhi <br>
IFSC Code: CIUB0000244 


</p><br>


<h3>Registration Details</h3>
<p>
	

<table class="table">
	<thead>
	<tr>
		<th style="font-weight: bold;">Category</th>
		<th style="font-weight: bold;">Early Registration(31st Jan 2020)</th>
		<th style="font-weight: bold;">Late Registration(After 31st Jan 2020)</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Research Scholar/Student</td>
		<td>INR 6000</td>
		<td>INR 7000</td>
	</tr>
	<tr>
		<td>Academician</td>
		<td>INR 7000</td>
		<td>INR 8000</td>
	</tr>
	<tr>
		<td>Industrial Participants</td>
		<td>INR 8000</td>
		<td>INR 9000</td>
	</tr>
	<tr>
		<td>Foreigner Research Scholar/Student (Outside India)</td>
		<td>USD 150</td>
		<td>USD 200</td>
	</tr>
	<tr>
		<td>Foreigner Academician (Outside India)</td>
		<td>USD 200</td>
		<td>USD 250</td>
	</tr>
	<tr>
		<td>Foreigner Industrial Participant (Outside India)</td>
		<td>USD 250</td>
		<td>USD 300</td>
	</tr>
</tbody>
</table>




</p><br>







			</dir>

		</dir>

	</body>
	</html>