<section class="sub-page" id="download">
  <div class="row">
    <div class="col-md-8">
      <div class="left">
        <h1>Downloads </h1>
        <hr>
        <div class="row">
          <h4 class="text-center"><b> ( Will be updated later )</b></h4>
          <%@downloads.each do |download|%>
          <div class="col-md-6">
            <div class="card">
              <%=link_to url_for(controller: "home", action: "download", filename: download.download_file) do %>
              <%=download.file_name.titleize%> <i class="fa fa-download" aria-hidden="true"></i>
              <%end%>
            </div>
          </div>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box right">
          <h1 class="custom-font">Important Dates</h1>
          <hr>

          <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
              <% @important_dates.each do |impdate| %>
                  <b><%= impdate.title %></b>
                  <br>
                  <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
                  <br><hr />

              <% end %>


            </marquee>
            <span> <a href="/important_dates">Read More...</a> </span>

      </div>
    </div>
  </div>
</section>
