<section class="important_dates">
  <div class="col m12 s12 l12">
    <div class="card-panel teal">
      <span class="white-text">
        <b>Important Dates</b>
        <hr />
     <% @important_dates.each do |impdate| %>
         <b><%= impdate.title %></b>
         <br>
         <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
         <br><hr />

     <% end %>
   </span>
 </div>
 </div>
</section>
