<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Project</title>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css'>


</head>
<body>
<div class="parallax-container">
  <div class="parallax">
    <img src="https://s-media-cache-ak0.pinimg.com/originals/09/73/3c/09733cf4fd9280abb95c448d05dd07b6.jpg"></div>
</div>

<div class="row">
  <div class="container">
    <div class="col">
      <h2 class="header">About Conference</h2>
      <h5 class="grey-text text-darken-3 lighten-3">
        <strong>International Conference on Innovative Computing and Communication(ICICC-2018)</strong> which will be
        held at Guru Nanak Institute of Management, Punjabi Bagh, Delhi on 5th-6th May 2018 will be jointly organized by
        the Universal Innovators and IRD India. This Conference is to bring together innovative academics and industrial
        experts in the field of Electronics and Communication Engineering to a common forum. The primary goal of the
        conference is to promote research and developmental activities in Electronics and Communication Engineering.
        Another goal is to promote scientific information interchange between researchers, developers, engineers,
        students, and practitioners working in and around the country. The conference will be held every year to make it
        an ideal platform for people to share views and experiences in Information Processing, Communication
        Engineering, Embedded systems and other related areas.
        All the accepted papers (after double blinded peer review) are published by springer(proposed) and extended
        selected papers will be published in the special issues of SCI/SCOPUS/WoS/DBLP/ACM indexed Journals.</h5>
    </div>
  </div>
</div>
<div class="container">
  <!-- Page Content goes here -->
  <div class="row">
    <div class="col l4 s6"><img src="http://icicc-conf.com/img/ginm5.jpg" alt=""></div>
    <div class="col l4 s6"><img src="http://icicc-conf.com/img/ginm5.jpg" alt=""></div>
    <div class="col l4 s6"><img src="http://icicc-conf.com/img/ginm5.jpg" alt=""></div>
  </div>
  <div class="row">
    <div class="col l4 s6"><img src="http://icicc-conf.com/img/ginm5.jpg" alt=""></div>
    <div class="col l4 s6"><img src="http://icicc-conf.com/img/ginm5.jpg" alt=""></div>
    <div class="col l4 s6"><img src="http://icicc-conf.com/img/ginm5.jpg" alt=""></div>
  </div>
</div>
</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js'></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.parallax').parallax();
    });


</script>
