<main>

      <section class="top-heading">


      </section>

      <section class="nav-bar">

      </section>

      <section class="image_slide-carousel">
                    <section class="main-slider">


             <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">


               <!-- Indicators -->
               <ol class="carousel-indicators">
                 <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                 <li data-target="#myCarousel" data-slide-to="1"></li>
                 <li data-target="#myCarousel" data-slide-to="2"></li>
                 <li data-target="#myCarousel" data-slide-to="3"></li>
               </ol>



               <!-- Wrapper for slides -->
               <div class="carousel-inner">


                 <!-- Slide 1 : Active -->
                 <div class="item active">
                   <img src="https://cl.ly/image/3J45082V2c1L/banner_01.jpg" alt="">
                 </div><!-- /Slide1 -->


                 <!-- Slide 2 -->
                 <div class="item ">
                   <img src="https://cl.ly/image/2J0z1t033B25/banner_02.jpg" alt="">
                 </div><!-- /Slide2 -->


                 <!-- Slide 3 -->
                 <div class="item ">
                   <img src="https://cl.ly/image/1a3i3k0F3B3h/banner_03.jpg" alt="">
                 </div><!-- /Slide3 -->


                 <!-- Slide 4 -->
                 <div class="item ">
                   <img src="https://cl.ly/image/1n0A2k0Z111n/banner_04.jpg" alt="">
                 </div><!-- /Slide4 -->


               </div><!-- /Wrapper for slides .carousel-inner -->



               <!-- Controls -->
               <div class="control-box">
                 <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                 <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right"></i></a>
               </div><!-- /.control-box -->


             </div><!-- /#myCarousel -->


            </section><!-- /.main-slider.container -->

             <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
            <script src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>

               <script  src="js/index.js"></script>


      </section>
      <section class="grid-view">

      </section>
</main>
