<section class="paper_submission">
  <div class="container">
    <div class="row">
      <div class="col m12 s12 l8">
        <div class="card-panel teal">
          <h1>Paper Submission</h1>

            Paper Submission : - Paper should be in the format strictly specified on the conference website. Only the selected papers will get the intimation who will be accepted for publication. Kindly do not submit the paper multiple times, it may lead to cancellation of an article/paper.
Submit your paper .............
<hr>
            <%=link_to url_for(controller: 'home', action: 'download_paper_template') do%>
             Download Paper Template (ICICC) <i class="fa fa-download" aria-hidden="true"></i>

            <%end%>
<hr>
            Click the suitable button for paper submission
              <br>

<a class="waves-effect waves-light btn">Abstract Paper Submission</a>
            <a href="http://easychair.org/" class="waves-effect waves-light btn"> EasyChair</a>


        </div>

      </div>
      <div class="col m12 s12 l4">
        <div class="card-panel teal">
          <span class="white-text">
            <b>Important Dates</b>
            <hr />
         <% @important_dates.each do |impdate| %>
             <b><%= impdate.title %></b>
             <br>
             <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
             <br><hr />

         <% end %>
       </span>
     </div>
     </div>

  </div>
</section>
