
<section class="sub-page" id="about_institute">
  <div class="row">
    <div class="col-md-12">
      <div class="left">
        <h3>First International Conference on Innovative Computing and Communication (ICICC-2018)</h3>
        <hr>
        <p class="text-justify">
           First International Conference on Innovative Computing and Communication (ICICC-2018) was organized at Guru Nanak Institute of Management, New Delhi, India on 5-6th May 2018. ICICC-2018 received 468 papers from approximately 1872 authors and a total of 92 papers were accepted with an acceptance ratio of 19%. All accepted papers were published in Springer’s Lecture Notes on Networks and Systems, an scopus indexed series. A total of 462 participants attended the conference including authors, keynotes, delegates, academicians, and industry experts. ICICC-2018 received papers from 20 countries and got lot of recommendations from the science community for the organization and the quality of papers.
        </p>

       <div class="row publish-partner">
         <%= render "icicc18"%>
       </div>

      </div>
       <div class="left">
        <h3>Second International Conference in innovative Computing and Communication (ICICC-2019)</h3>
        <hr>
        <p class="text-justify">
          Second version of International Conference in innovative Computing and Communication (ICICC-2019) was organized at VSB-Technical University of Ostrava, Czech Republic, Europe on 21-22nd March 2019 with a pre-conference symposium at New Delhi, India on 16th March 2019. ICICC-2019 received 552 papers from approximately 2208 authors and a total of 125 papers were accepted with an acceptance ratio of 22%. All accepted papers were published in Springer’s Advances in Intelligent Systems and Computing, an scopus indexed series. A total of 524 participants attended the conference and pre-conference symposium including authors, keynotes, delegates, academicians, and industry experts. ICICC-2019 received papers from 25 countries.
        </p>

        <div class="row publish-partner">
         <%= render "icicc19"%>
        </div>
      </div>
    </div>
  </div>
</section>
