
<section class="sub-page container" id="about_institute">
  <div class="row">
    <div class="col-md-12">
    <div class="left">
        <h1>First International Conference on Data Analytics and Management (ICDAM-2020)</h1>
        <hr>
        <p>
            First International Conference on Data Analytics and Management (ICDAM-2020) was jointly organized by Jan Wyzykowski University Poland and B.M. Institute of Engineering and Technology, India on 18th June 2020. ICDAM-2020 received 385 papers from approximately 1430 authors and a total of 70 papers were accepted with an acceptance ratio of 18%. All accepted papers were published in Springer’s Lecture Notes on Data Engineering and Communications Technologies, an scopus indexed series. A total of 122 participants attended the conference including authors, keynotes, delegates, academicians, and industry experts. ICDAM-2020 received papers from 19 countries and got lot of recommendations from the science community for the organization and the quality of papers. Due to unexpected COVID-19, ICDAM-2020 was organized in virtual mode.
        </p>
        <div class="row publish-partner">
            <%= render "icdam20"%>
        </div> 
    </div>
  </div>
</section>

