<section class="registration">
   <div class="container">
     <div class="row">
       <div class="col m12 s12 l8">

         <table class="responsive-table centered">
       <thead>
         <tr>
             <th><b>Category</b></th>
             <th><b>Registration Fee</b></th>
         </tr>
       </thead>

       <tbody>
         <tr>
           <td>Research Scholar/Students</td>
           <td>INR 8,000</td>
         </tr>
         <tr>
           <td>Academician</td>
           <td>INR 8,500</td>
         </tr>
         <tr>
           <td>Industrial Participant</td>
           <td>INR 9,000</td>
         </tr>
         <tr>
           <td>Co-Author Attending</td>
           <td>INR 2,500</td>
         </tr>
         <tr>
           <td>Foreign Delegates</td>
           <td>USD 200</td>
         </tr>
         <tr>
           <td>Foreign Student</td>
           <td>USD 150</td>
         </tr>
       </tbody>
     </table>


       </div>
       <div class="col m12 s12 l4">
         <div class="card-panel teal">
           <span class="white-text">

          <% @important_dates.each do |impdate| %>
              <b><%= impdate.title %></b>
              <br>
              <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
              <br><hr />

          <% end %>
        </span>
      </div>
      </div>
  </div>


</div>
</section>
