<section class="sub-page" id="registration">
  <div class="row">
    <div class="col-md-8">
      <div class="left">
        <p>
          <b>Author/Co-Author Registration Fee Includes: Participation in the technical program Lunch Banquet Badge Conference
            Accessories CD of Proceedings Coffee breaks Welcome reception
          </b>
        </p>
        <hr>
        <p>
          Once Your paper is accepted, the registration process begins. you have to complete the following steps.  <br>
          Step1 - Registration Fee: It is mandatory for at least one author of an accepted paper to register in order for the paper to appear in the proceedings and included in the Technical Program. If an author has got more than one accepted papers,
          there will be discount on additional papers registration. Fee includes listing the papers online in International Journal,
          The CD media of the proceedings and publication in various issues of Journals, Lunch, Morning and Evening Snacks.
          Registration Fees.
        </p>

        <%# <p>
          <b>Registration Account Details</b>
          <br>
          <p>
            Account Name: ICICC <br>
            Account No: 510909010080523 <br>
            Bank: City Union Bank <br>
            Branch: Sector-8, Rohini, Delhi <br>
            IFSC Code: CIUB0000244 <br>
            <i style="font-style: italic;">Kindly pay the registration fees through online transaction only and mail us the e receipt/transaction number along with your paper id and registered author id card.</i>
          </p>
        </p> %>



        <!-- <a class="waves-effect waves-light btn">Download Registration Form <i class="fa fa-download" aria-hidden="true"></i>
        </a> -->
        <p>
          <b>Author/Co-Author Registration Fee Includes:</b>
        </p>
        <ol>
          <li><i  ></i> Welcome reception</li>
          <li><i  ></i> Badge</li>
          <li><i  ></i> Conference Kit with Proceeding</li>
          <li><i  ></i> Participation in the technical program</li>
          <li><i  ></i> Coffee breaks</li>
          <li><i  ></i> Lunch</li>
          <li><i  ></i> Banquet</li>
        </ol>

        <h3 class="text-center">Registration Fee For ICDAM-2020</h3>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th><b>Category</b></th>
              <th><b>Early Registration (15th May 2020)</b></th>
              <th><b>Late Registration (After 15th May 2020)</b></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Research Scholar/Student from SAARC Nations</td>
              <td>EURO 150</td>
              <td>EURO 200</td>

            </tr>
            <tr>
              <td>Academician from SAARC Nations </td>
              <td>EURO 200</td>
              <td>EURO 250</td>

            </tr>
            <tr>
              <td>Industrial Participants from SAARC Nations</td>
              <td>EURO 250</td>
              <td>EURO 300</td>

            </tr>
            <tr>
              <td>Research Scholar/Student (Outside SAARC Nations)</td>
              <td>EURO 300</td>
              <td>EURO 350</td>

            </tr>
            <tr>
              <td>Academician (Outside SAARC Nations)</td>
              <td>EURO 400</td>
              <td>EURO 450</td>

            </tr>

            <tr>
              <td>Industrial Participant (Outside SAARC Nations)</td>
              <td>EURO 450</td>
              <td>EURO 500</td>

            </tr>

             <tr>
              <td>Attendee ( Research Scholar/Student SAARC Nations )</td>
              <td>EURO 80</td>
              <td>EURO 100</td>
            </tr>

            <tr>
              <td>Attendee ( Academician SAARC Nations )</td>
              <td>EURO 100</td>
              <td>EURO 150</td>
            </tr>

            <tr>
              <td>Attendee ( Industry SAARC Nations )</td>
              <td>EURO 150</td>
              <td>EURO 200</td>
            </tr>

            <tr>
              <td>Attendee (Research Scholar/Student Outside SAARC Nations)</td>
              <td>EURO 100</td>
              <td>EURO 150</td>
            </tr>

            <tr>
              <td>Attendee ( Academician Outside SAARC Nations)</td>
              <td>EURO 150</td>
              <td>EURO 200</td>
            </tr>

             <tr>
              <td>Attendee ( Industry Outside SAARC Nations)</td>
              <td>EURO 250</td>
              <td>EURO 300</td>
            </tr>
          </tbody>
        </table>
         <h4 class="text-center"><b>Special Discount of 10% for Universal Inovator (UI) Member</b></h4>
      </div>

    </div>
    <div class="col-md-4">
      <div class="box right">
          <h1 class="custom-font">Important Dates</h1>
          <hr>

          <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
              <% @important_dates.each do |impdate| %>
                  <b><%= impdate.title %></b>
                  <br>
                  <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
                  <br><hr />

              <% end %>


            </marquee>
            <span> <a href="/important_dates">Read More...</a> </span>

      </div>
    </div>
  </div>
</section>
