<section class="sub-page" id="registration">
  <div class="row">
    <div class="col-md-8">
      <div class="left">
        <p>
          <b>Author/Co-Author Registration Fee Includes: Participation in the technical program , Participation certificate to the presenter and Pre-Proceeding e-copy
          </b>
        </p>
        <hr>
        <p>
          Once Your paper is accepted, the registration process begins. you have to complete the following steps.  <br>
          Step1 - Registration Fee: It is mandatory for at least one author of an accepted paper to register in order for the paper to appear in the proceedings and included in the Technical Program. If an author has got more than one accepted papers,
          there will be discount on additional papers registration. Fee includes listing the papers online in International Journal,
          The CD media of the proceedings and publication in various issues of Journals, Lunch, Morning and Evening Snacks.
          Registration Fees.
        </p>

        



        <!-- <a class="waves-effect waves-light btn">Download Registration Form <i class="fa fa-download" aria-hidden="true"></i>
        </a> -->
        <p>
          <b>Author/Co-Author Registration Fee Includes:</b>
        </p>
        <ol>
          <li><i  ></i> Virtual Presentation </li>
          <li><i  ></i> Participation in the technical program</li>
          <li><i  ></i> Participation certificate to the presenters </li>
          <li><i  ></i> Pre-Proceeding e-copy </li>
        </ol>
        
        <strong> Note: Author may be invited to present their respective paper physically, in case the situation becomes feasible depending on the guidelines of the Indian Government. </strong>

        <h4><b>Registration Account Details</b></h4>
          <br>
          <div style="border: 1px solid black ; padding:20px">
            <h4 class="text-center text-dark"><b> Pay via Bank Transfer</b></h4>
            <table class="table table-bordered table-hover">
              <tbody>
                <tr> 
                  <td><b>ACCOUNT NAME </b></td>
                  <td> ICICC</td>
                </tr>
                <tr> 
                  <td><b>ACCOUNT NUMBER </b></td>
                  <td> 510909010080523</td>
                </tr>
                <tr> 
                  <td><b>BANK </b></td>
                  <td>  City Union Bank</td>
                </tr>
                <tr> 
                  <td><b>BRANCH </b></td>
                  <td> Sector-8, Rohini, Delhi </td>
                </tr>
                <tr> 
                  <td><b> Branch CODE </b></td>
                  <td> 244</td>
                </tr>
                 <tr> 
                  <td><b> IFSC CODE </b></td>
                  <td> CIUB0000244 </td>
                </tr>
                <tr> 
                  <td><b> MICR </b></td>
                  <td> 600054027</td>
                </tr>
                <tr> 
                  <td><b> SWIFT CODE </b></td>
                  <td> CIUBIN5M</td>
                </tr>
                <tr> 
                  <td><b> ACCOUNT TYPE </b></td>
                  <td> CURRENT</td>
                </tr>
              </tbody>
            </table>  
          </div>
            
        <h3 class="text-center">Registration Fee For ICDAM-2020</h3>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th><b>Category</b></th>
              <th><b>Early Registration (15th May 2020)</b></th>
              <th><b>Late Registration (After 15th May 2020)</b></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Research Scholar/Student from INDIA</td>
              <td>INR 7,000</td>
              <td>INR 8,000</td>

            </tr>
            <tr>
              <td>Academician from INDIA </td>
              <td>INR 8,000</td>
              <td>INR 9,000</td>

            </tr>
            <tr>
              <td>Industrial Participants from INDIA</td>
              <td>INR 9,000</td>
              <td>INR 10,000</td>

            </tr>
            <tr>
              <td>Research Scholar/Student from EUROPE</td>
              <td>USD 150</td>
              <td>USD 200</td>

            </tr>
            <tr>
              <td>Academician from EUROPE</td>
              <td>USD 200</td>
              <td>USD 250</td>

            </tr>

            <tr>
              <td>Industrial Participant from EUROPE</td>
              <td>USD 250</td>
              <td>USD 300</td>

            </tr>
            <tr>
              <td>Research Scholar/Student (Outside INDIA & EUROPE)</td>
              <td>USD 150</td>
              <td>USD 200</td>
            </tr>
            <tr>
              <td>Academician (Outside INDIA & EUROPE)</td>
              <td>USD 200</td>
              <td>USD 250</td>
            </tr>
            <tr>
              <td> Industrial Participant (Outside INDIA & EUROPE)</td>
              <td>USD 250</td>
              <td>USD 300</td>
            </tr>
          </tbody>
        </table>
         <h4 class="text-center"><b>Special Discount of 10% for Universal Inovator (UI) Member</b></h4>
      </div>

    </div>
    <div class="col-md-4">
      <div class="box right">
          <h1 class="custom-font">Important Dates</h1>
          <hr>

          <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
              <% @important_dates.each do |impdate| %>
                  <b><%= impdate.title %></b>
                  <br>
                  <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
                  <br><hr />

              <% end %>


            </marquee>
            <span> <a href="/important_dates">Read More...</a> </span>

      </div>
    </div>
  </div>
</section>
