<!-- new special sessions -->
<section class="sub-page" id="special_sesion">

  <div class="row">
    <div class="col-md-12">
      <%@new_special_session.each do |special_session|%>
      <div class="col-md-3 ">
        <div class="card">
          <%=link_to url_for controller: "home", action: "download", filename: special_session.file do %>
          <u><b><%=special_session.name%></b></u> <br>
          <%=special_session.description%><br>
          <%=special_session.file.titleize%> <i class="fa fa-download" aria-hidden="true"></i>
          <%end%>
        </div>

      </div>
      <%end%>
    </div>
  </div>
</section>
