<section class="sub-page" id="special_sesion">
  <div class="row">
    <div class="col-md-12">
      <%@special_session.each do |special_sesion|%>
        <div class="col-md-3 ">
          <div class="card">
            <%=link_to url_for controller: "home", action: "download", filename: special_sesion.file do %>
            <%=special_sesion.file.titleize%> <i class="fa fa-download" aria-hidden="true"></i>
            <%end%>
          </div>

        </div>
    <%end%>
    </div>
  </div>
</section>
