<section class="steeringcommittee">
   <div class="container">
     <div class="row">
       <div class="col m12 s12 l8">


              <h5>Sponsors</h5><hr>
             <% @sponsors.each do |sponsor| %>
            <div class="col m6 s6 l6">
             <div class="card">
                 <div class="card-image waves-effect waves-block waves-light">
                   <img src="<%="/sponsors/" + sponsor.image%>" class="responsive-img activator">
                 </div>
                 <div class="card-content">
                   <span class="card-title activator grey-text text-darken-1"><%= sponsor.caption %></span>
                 </div>
               </div>

             </div>
             <%end%>


       </div>
       <div class="col m12 s12 l4">
         <div class="card-panel teal">
           <span class="white-text">
             <b>Important Dates</b>
             <hr />
          <% @important_dates.each do |impdate| %>
              <b><%= impdate.title %></b>
              <br>
              <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
              <br><hr />

          <% end %>
        </span>
      </div>
      </div>
  </div>


</div>
</section>
