
<br><br><br>
<div class="container" id = "symposium">


  <div class="row">
    <div class="col-md-3 col-sm-3 symp-1">
      <img src="symposium/symposium_html_25ae0511.png" width="140px">
    </div>

    <div class="col-md-6 col-sm-6 symp-1 ">
      <h1 style = "color : orange;">ICICC-2019</h1>
      <h4 style = "color : blue;">International Conference on Innovative Computing and Communications</h4>    </div>

    <div class="col-md-3 col-sm-3 symp-1">
      <img src="symposium/symposium_html_ac1ad52.png" width="130px">
    </div>
  </div>



  <div class="row">
    <div class="col-md-12  symp-1">
      <h1>Pre-Conference Symposium</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12  symp-1">
      <p>Pre-Conference Symposium of ICICC-2019 will be held at Guru Nanak Institute of Management, New Delhi, India on 16th March 2019. All the presented papers in the symposium will be published in <b>Springer AISC Series (Indexed in Scopus, EI-Compendex, ISI Proceeding, DBLP, UGC Approved List)</b>. The authors of the accepted paper can present their paper in this Symposium or at TU, Ostrava, Czech Republic (Europe). The submission of papers in the symposium will be via same link as of regular submission. For all keynotes and other programs join us at TU, Ostrava, Czech Republic on 21st-22nd March 2019.</p>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col-md-12  symp-1">
      <table>
        <tr>
          <td>Submission link</td>
          <td><a>https://easychair.org/conferences/?conf=icicc20190
          </a></td>
        </tr>
        <tr>
          <td>Submission Deadline</td>
          <td>January 21, 2019</td>
        </tr>
      </table>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col-md-12  symp-1">
      <h3>Keynote for Pre-Congress Symposium</h3>
    </div>
    <div class="col-md-12  symp-1">
      <img src="/symposium/symposium_html_ad8b6c11.jpg" width="190px" height="200px">
    </div>
    <div class="col-md-12  symp-1">
      <h5><a href="https://www.springer.com/gp/authors-editors/aninda-bose/5084">Mr. Aninda Bose, Senior Editor – Hard Sciences, Springer Nature</a></h5>
    </div>

  </div>



</div>
