<section class="special_session">
  <div class="container">
    <div class="row">
  <div class="col s12 m12 l12">
<div class="card-panel">
<%@special_session.each do |special_sesion|%>
  <%=link_to url_for controller: "home", action: "download", filename: special_sesion.file do %>
  <%=special_sesion.file%> <i class="fa fa-download" aria-hidden="true"></i>
  <%end%>
  <hr>
<%end%>
</div>
  </div>
    </div>
  </div>
</section>
